* {
    background-color: white;
}

.section-container {
    resize: both;
    overflow: auto;
}

#mainfeed {
    background-color: white;
}

#feedtable {
    border-color: black;
    background-color: white;
}